html{font-size: 62.5%;}


.border-body{border:10px solid #020523;}

.image{width: 300px;
border: 3px solid #a9ad9a;
border-radius: 60%;}


.head{font-family: Archivo Black;
    font-size: 6rem;
color: #020523;
margin-top: 200px;}

.year{font-family:  Archivo Black;
    font-size: 3rem;
    text-align: right;
margin-right: 60px;
margin-top: -15px;}

