html{font-size: 62.5%;
background-color: white;
border: 10px solid #011230;}

body{margin: 0;
padding: 0;
box-sizing: border-box;}

.body{background-color: #e5e5fd}


.head{font-size: 6rem;
font-family: Archivo Black;
color: #011230;}

.year{font-size: 4rem;
text-align: right;}


.img-border{border: 5px solid #afb29f;}

.name{font-size: 4rem;
font-family: permanent marker;}


.margin{margin-left: 140px;}

.footer{height: 50px;}

